.backtoschool {
    background-color: #d9e4cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    padding: 0px;
    position: relative;
    margin-inline: 1.5px;
    gap: 15px;
}
.backtoschool-image {
    border-radius: 50%;
    width: 132px;
    height: 143px;
    
}

.items {
    /*justify-content: center;
    align-items: center;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.intro_backtoschool{
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: bold;
    color: #626262;
    margin-top: 5px;
}

.Backtoschool_title {
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.figtext {
    font-weight: bold;
}

.item1 {
    margin-top: 20px;
}
  figcaption {
    color: black;
    font-size: 14px;
 }
.Start_btn {
    margin-bottom: 2px;
    border-radius: 22.5px;
    padding-inline: 15px;
    padding-block: 5px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    padding-block: 15px;
    color: white;
    border-color: #6c933e;
    text-decoration: none;
    flex-wrap: nowrap;
    margin-bottom: -20px;
    background-color: #6c933e;
    transition: background-color 0.5s;
}
.Start_btn:hover {
    background-color: #626262;
  }
.ico_arrow {
    background-color: white;
    position: relative;
    bottom: -25px;
    border-radius: 50%; 
    padding: 10px;
    padding-inline: 15px;
    border-color: white;
    
}

@media (min-width:768px) {
    .items {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 100px;
        align-items: center;
        font-size: 20px;
        max-width: 200%;
    }
    
    .backpack {
        text-align: center;
        white-space: nowrap;
    }

    .case {
        text-align: center;
        white-space: nowrap;
    }

    .sportsbag {
        text-align: center;
        white-space: nowrap;
    }

    .Backtoschool_title {
        font-size: 28px; 
    }

    figcaption {
        font-size: 18px;
    }

}

@media (min-width:1280px) {
    .items {
        gap: 300px;
        align-items: center;
    }
}