.linksproducts li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.linkssocialmedia li a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.linksyear li a {
    text-decoration: none;
    color: white;
}


.footer {
    background-color: #4a4a4a;
    color: white;
    padding-top: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}


.products {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}

.socialmedia {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
}
.year {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
}

ul {
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

@keyframes rotateheart {
    from {  
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }


  .heart {
    color: #6c933e;
    animation: rotateheart 3s linear infinite;
  }
  
  

@media (min-width:768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .linksyear {
        order: -1;
    }
}