
.hero {
    color: #ffff;   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: 80% 80%; 
    position: relative;
    z-index: 0;
}

.hero_title {
    font-family: "Robotoslab";
    padding-top: 200px; 
    font-size: 30px;
    font-weight: bold;
    line-height: 50PX;
    text-transform: uppercase;
    margin-block: 15px;
    *transform: rotate(-0.23deg)
    
}

.hero_subtitle {
    font-family: "Roboto-Regular";
    font-size: 16px;
    /*margin: 0px; */
    text-align: center;
    max-width: 70%; 
}


.btn {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px;
    padding-inline: 10px;
    border-radius: 50%;
    border-color: white;
    margin-top: 10px;
    bottom: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}

.ico-scroll-down {
    width: 20px;
    height: auto;
}

@media (min-width:768px) {
    .hero {
        background-image: url(../images/cover.jpeg);
        background-size: cover;
        background-position: 65% 50%;
        position: relative;
        z-index: 0;

    }
    .hero_title {
        font-size: 75PX;
        line-height: 1;
        text-align: center; 
    }

    .hero_subtitle {
        font-size: 24PX;
        line-height: 1;
        text-align: center;
        max-width: 40%;
    }
    .btn {
        margin-top: 80%;
        bottom: 35px;
        padding: 15px;
        padding-inline: 12px;
    }


}

@media (min-width:1024px) {
    .hero_title {
        text-align: center;
        max-width: 40%;
    }
    .btn {
        margin-top: 80%;
        bottom: 40px;
    }

    .hero {
        background-position: 60% 60%; 
    }
}