.concept {
    color: #6c933e;
    text-transform: uppercase;
}

.reasons_title {
    text-transform: uppercase;
}

.reasons_text {
    font-family: "Roboto";
}
.Purchase_btn {
    margin: 20px;
    border-radius: 1em;
    padding-inline: 2em;
    font-size: 25px;
    padding-block: 0.5em;
    color: #6c933e;
    border-color: #6c933e;
}