.concept {
    color: #6c933e;
    font-family: "Roboto";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    
    flex-wrap: nowrap;
    margin-block: 10px;
    margin-inline: 15px;
    text-align: justify;


}

.reasons_title {
    text-transform: uppercase;
    font-family: "Roboto-Slab", sans-serif;
    color: black;
    line-height: 30px;
    font-size: 22px;
    text-align: justify;
    margin-block: 0px;
    margin-inline: 10px;
}

.reasons_text { 
    font-family: "Roboto";
    font-size: 18px;
    line-height: 30px;
    margin-block: 10px;
    margin-inline: 15px;
    text-align: justify;
    color: #4a4a4a;
    /*line-height: 30px;*/

}
.Purchase_btn {
    margin-block: 25px;
    margin-inline: 10px;
    border-radius: 32px;
    padding-inline: 35px;
    font-size: 20px;
    padding-block: 0.5em;
    color: #6c933e;
    border: 2px solid #6c933e;
    background-color: white;
  
}

@media (min-width:768px) {
    .reasons {
        /*max-width: 70%;*/
        margin-block: 10px;
        margin-inline: 30px;
    }
    .concept {
        font-size: 16PX;
    
    }
    .reasons_title {
        font-size: 32px;
 

    }
    .reasons_text {
        font-size: 20px;
       
  
    }
}

@media (min-width:1280px) {
  .concept {
    margin-block: 30px;
    margin-inline: 100px;
  }

  .reasons_title {
    margin-block: 30px;
    margin-inline: 100px;
  }
  .reasons_text {
    margin-block: 30px;
    margin-inline: 100px;
  }

  .Purchase_btn {
    margin-block: 30px;
    margin-inline: 100px;
  }

}